div[data-role="header"] {
  .login,
  .addSentence {
    padding: .4em 0;
    font-weight: normal
  }
}

.sentence-control {

  .tags-panel {
    .tag-btn {
      display: inline-block;
      padding: 6px 12px;
      border: 0;

      color: white;
      background-color: #999;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      margin-right: 5px;
      margin-bottom: 5px;
      outline: none;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }

  .sentenceDelete {
    color: darkgray;
    text-decoration: underline;
    margin-bottom: 10px;
    display: block;
  }

  .sentenceSave {
    margin: 20px 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
  }
}
