input, select, textarea {
  font-size: 16px;
}

div[data-role="header"] {
  a {
    padding: .4em 0;
    font-weight: normal
  }
}

.sentence-control {
  #actions-tabs {
    ul[role="tablist"] {
      > li:first-child a {
        -webkit-border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      > li:last-child a {
        -webkit-border-top-right-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        -moz-border-radius-bottomright: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }

  .tags-panel {
    .tag-btn {
      display: inline-block;
      padding: 6px 12px;
      border: 0;

      color: white;
      background-color: #999;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      margin-right: 5px;
      margin-bottom: 5px;
      outline: none;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }

  .sentenceDelete {
    color: darkgray;
    text-decoration: underline;
    margin-bottom: 10px;
    display: block;
  }

  .sentenceSave {
    padding: 10px;
    margin: 20px 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 0;
  }
}
