.zencopyreader {
  display: none;
}
.zencopyreader ul {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
  border: 1px solid #e1e1e8;
  background: #f7f7f9;
}
.zencopyreader ul li {
  position: relative;
  min-height: 40px;
  padding: 10px 50px 10px 10px;
  border-top: 1px solid #e1e1e8;
}
.zencopyreader ul li:first-child {
  border-top: 0;
}
.zencopyreader .btn-danger {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  border: 0;
  border-radius: 0;
}
.zencopyreader i {
  font-style: normal;
}
.zcr-old i, .zcr-corr i {
  font-style: normal !important;
}
.c-err {
  color: red;
  text-decoration: line-through;
  font-style: normal !important;
}
.c-cor {
  color: green;
  font-weight:bold;
}
.zencopyreader input {
  display: block;
  width: 100%;
}